<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Iniciar Sesión</h1>
                    <h6>Ingresa Tus Credenciales A Continuación</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico</label>
                        <input 
                            formControlName="email"
                            type="email" 
                            class="form-control"
                            placeholder="Ej. usuario@dominio.com">
                        <span 
                            class="text-danger" 
                            *ngIf="f['email'].getError('required') != null">
                            *Campo Obligatorio
                        </span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input 
                            formControlName="pass"
                            type="password" 
                            class="form-control">
                        <span 
                            class="text-danger" 
                            *ngIf="f['pass'].getError('required') != null">
                            *Campo Obligatorio
                        </span>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button 
                            [disabled]="!loginForm.valid"
                            type="submit" 
                            class="btn btn-outline-secondary">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
                <br>
                <span style="text-align: center;">¿No tienes una cuenta? <a routerLink="/signup">Regístrate Aquí</a></span>
            </div>
        </div>
    </div>
</div>