.card {
    border: none;
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(30, 23, 23);
    background: linear-gradient(90deg, rgb(0, 79, 158) 0%, rgb(161, 9, 9), 100%);
}

.card h1,
h6,
label,
span,
i,
a {
    color: #fff;
}

#emailHelp {
    color: #fff;
}