<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Registrarse</h1>
                    <h6>Llene Los Siguientes Campos</h6>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                        <label class="form-label">Nombre Completo</label>
                        <input 
                            formControlName="usuario"
                            type="text" 
                            class="form-control"
                            placeholder="Ej. Luis Degante">
                        <span 
                            class="text-danger" 
                            *ngIf="f['usuario'].getError('required') != null">
                            *Campo Obligatorio
                        </span>
                    </div>                       
                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico</label>
                        <input 
                            formControlName="email"
                            type="email" 
                            class="form-control"
                            placeholder="Ej. usuario@dominio.com">
                        <span 
                            class="text-danger" 
                            *ngIf="f['email'].getError('required') != null">
                            *Campo Obligatorio
                        </span>
                    </div>                       
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input
                            formControlName="pass" 
                            type="password" 
                            class="form-control">
                        <span 
                            class="text-danger" 
                            *ngIf="f['pass'].getError('required') != null">
                            *Campo Obligatorio
                        </span>
                        <span 
                            class="text-danger"
                            *ngIf="f['pass'].getError('minlength') != null">
                            *La contaseña debe tener al menos 8 caracteres
                        </span>
                    </div>
                    <div class="mb-3">
                        <label>Tipo de Usuario</label>
                        <div *ngFor="let perfil of perfiles">
                            <input
                                formControlName="perfil"
                                type="radio"
                                name="perfil"
                                value="{{ perfil }}">
                            <i>{{ perfil | CambioTexto }}</i>
                        </div>
                        <span 
                            class="text-danger"
                            *ngIf="f['perfil'].getError('required') != null">
                            *Campo Obligatorio</span>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button 
                            [disabled]="!signupForm.valid"
                            type="submit" 
                            class="btn btn-outline-secondary">
                            Regístrate
                        </button>
                    </div>
                </form>
                <br>
                <span style="text-align: center;">¿Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a></span>
            </div>
        </div>
    </div>
</div>