<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h1>Catálogo Productos</h1>
        <div class="d-flex">
            <button 
                *ngIf="dataUserLogueado.perfil === 'superAdmin'"
                class="btn btn-success" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"
                (click)="clickAgregarProducto()">
                Añadir Producto
            </button>
            <button
                style="margin-left: 15px;"
                class="btn btn-danger"
                (click)="logout()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</nav>

<br>

<div class="container">
    <h3 style="text-align: right;">Bienvenido: {{ dataUserLogueado.usuario}}</h3>
    <h5 style="text-align: right;">Rol: {{ dataUserLogueado.perfil | CambioTextoDashboard}}</h5>
    <h3 style="text-align: center;">Tabla de Productos</h3>
    <table class="table mt-4 table-hover">
        <thead>
            <tr style="text-align: center;">
                <th scope="col" *ngIf="dataUserLogueado.perfil === 'superAdmin'">ID Del Producto</th>
                <th scope="col">Nombre Del Producto</th>
                <th scope="col">Imagen</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col" *ngIf="dataUserLogueado.perfil === 'superAdmin'">Stock</th>
                <th scope="col" *ngIf="dataUserLogueado.perfil === 'superAdmin'">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos" style="text-align: center;" >
                <td *ngIf="dataUserLogueado.perfil === 'superAdmin'">{{ producto.id }}</td>
                <td>{{ producto.nombre_producto}}</td>
                <td>
                    <div
                       class="img-custom"
                       style="background-image: url({{producto.urlImagen}});">
                    </div>
                 </td>
                <td>{{ producto.marca}}</td>
                <td>$ {{ producto.precio }}</td>
                <td>{{ producto.descripcion}}</td>
                <td *ngIf="dataUserLogueado.perfil === 'superAdmin'">{{ producto.stock}}</td>
                <td *ngIf="dataUserLogueado.perfil === 'superAdmin'">
                    <button 
                        (click)="onEdit(producto)"
                        class="btn btn-success" 
                        style="width: 100%;"
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal"
                        >Editar
                    </button>
                    <button 
                        (click)="eliminarProducto(producto)" 
                        class="btn btn-danger" 
                        style="width: 100%; margin-top: 10%;"
                        >Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
      
      <!-- Modal -->
    <div 
        class="modal fade" 
        id="exampleModal" 
        tabindex="-1" 
        aria-labelledby="exampleModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 
                        class="modal-title fs-5" 
                        id="exampleModalLabel"
                        *ngIf="mostrarAgregar">
                        Agregar Producto
                    </h1>
                    <h1 
                        class="modal-title fs-5" 
                        id="exampleModalLabel"
                        *ngIf="mostrarActualizar">
                        Actualizar Producto
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="form-floating mb-3" *ngIf="mostrarAgregar">
                          <input 
                            type="text" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="#"
                            formControlName="id">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            ID Del Producto
                          </label>
                        </div>
                        <div class="form-floating mb-3" *ngIf="mostrarActualizar">
                          <input 
                            type="text" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="#"
                            formControlName="id"
                            disabled>
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            ID Del Producto
                          </label>
                        </div>
    
                        <div class="form-floating mb-3">
                          <input 
                            type="text" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="#"
                            formControlName="nombre_producto">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            Nombre Del Producto
                          </label>
                        </div>
    
                        <div class="form-floating mb-3">
                          <input 
                            type="text" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="#"
                            formControlName="urlImagen">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            URL de la Imagen Del Producto
                          </label>
                        </div>
    
                        <div class="form-floating mb-3">
                          <input 
                            type="text" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="#"
                            formControlName="marca">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            Marca Del Producto
                          </label>
                        </div>
    
                        <div class="form-floating mb-3">
                          <input 
                            type="number" 
                            class="form-control" 
                            id="floatingInput" 
                            min="1"
                            placeholder="#" 
                            formControlName="precio">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            Precio Del Producto
                          </label>
                        </div>
                        <div class="form-floating mb-3">
                          <input 
                            type="number" 
                            class="form-control" 
                            id="floatingInput"
                            placeholder="#" 
                            formControlName="stock"
                            min="0">
                          <label 
                            class="form-label" 
                            for="floatingInput">
                            Stock
                          </label>
                        </div>
                        <div class="form-floating mb-3">
                          <textarea 
                            id="floatingInput"
                            placeholder="#"
                            class="form-control" 
                            formControlName="descripcion">
                          </textarea>
                          <label 
                            class="form-label"
                            for="floatingInput">
                            Descripción del Producto
                          </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="agregarProducto()"
                        *ngIf="mostrarAgregar"
                        [disabled]="!formValue.valid"
                        >Añadir Producto
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="guardarCambios()"
                        *ngIf="mostrarActualizar"
                        [disabled]="!formValue.valid"
                        >Guardar Cambios
                    </button>
                    <button 
                        type="button" 
                        id="cancel"
                        class="btn btn-danger" 
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>