.img-custom {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: contain;
}

h1 {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  	-webkit-background-clip: text;
	background-size: contain;
	text-align: left;
	color: transparent;
	font-weight: 900;
    top: 50%;
	left: 50%;
	position: initial;
	font-size: 3rem;
	margin: 0;
	font-family: 'frozen', serif;
	font-weight: 700;
}

@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}